<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p>This app is a seed Angular Cocoon App. Test the $scope on the right by typing in the input box.</p>
            <h3>Features</h3>
                <ul>
                    <li>Visual Studio Project Template</li>
                    <li>Angular</li>
                    <li>jQuery</li>
                    <li>Angular Router</li>
                    <li>Some skeleton work</li>
                    <li>Bower for 3rd party extensions</li>
                    <li>Gulp to build the cocoon!!!</li>
                </ul>
            <h3>To use</h3>
            <p>Fork the project or create a branch and muck around.</p>
        </div>
        <div class="col-md-6">
            <input type="text" name="input" ng-model="inputText" value="Type some text here" />
            <h1>Typed text: {{inputText}}</h1>
            <hr />
            <p>{{controllerText}}</p>
        </div>
    </div>
</div>